body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: black;
}

.main {
    background-image: url(/assets/images/bg.png);
    height: 95vh;
    background-size: max(1200px, 100vw);
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
}

.main .box {
    height: 95vh;
    width: 100%;
    opacity: 0.7;
    background-color: black;
    position: absolute;
    top: 0;
}

.main div {
    display: flex;
    gap: 20px;
    
}

nav {
    top: 0;
    display: flex;
    max-width: 80vw;
    align-items: center;
    margin: auto;
    justify-content: space-between;
    height: 62px;
    max-width: 77vw;
    padding-top: 15px;
}

nav>span>img {
    width: 140px;
    position: relative;
    z-index: 10;

}

.hero {
    height: calc(100% - 125px);
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    justify-content: center;
    position: relative;
    gap: 20px;
    padding: 0px 30px;
}

.hero> :nth-child(1) {
    font-weight: 900;
    font-size: 48px;
    text-align: center;
}

.hero> :nth-child(2),
.hero> :nth-child(3) {
    font-weight: 400;
    font-size: 24px;
    text-align: center;
}

.line {
    background-color: rgb(35,35,35);
    height: 8px;
    margin: 40px 0px;
    position: relative;
}

.btn1,
.btn2,
.btn3 {
    color: white;
    position: relative;
    z-index: 10;
    padding: 7px 18px;
    font-weight: 400;
    font-size: 16px;
    border-radius: 3px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
}

.btn1 {
    background-color: rgba(55, 55, 55, 0.201);
    border: 1px solid rgb(137, 131, 131);
    display: flex;
    justify-content: space-around;
    gap: 7px;
}

.btn2,
.btn3 {
    border: none;
}

.btn2,
.btn3 {
    background-color: rgb(229, 9, 20);
}

.btn2:hover,
.btn3:hover {
    background-color: rgb(201, 0, 0);
    transition: 0.3s ease-in-out;
}

.btn3 {
    font-size: 24px;
    font-weight: bold;
    display: flex;
    justify-content: space-around;
    gap: 7px;
    height: 55px;
    align-items: center;
}

input[type="email"] {
    color: rgb(255, 0, 0);
    background-color: rgba(33, 32, 32, 0.614);
    position: relative;
    z-index: 10;
    border: 1px solid rgb(154, 147, 147);
    padding: 7px 18px;
    font-size: 16px;
    box-sizing: border-box;
    width: 350px;
    height: 55px;
    border-radius: 5px;
}

input[placeholder="Email address"] {
    font-weight: 600;
    font-size: 15px;
}

.email-in {
    display: flex;
    align-items: center;
    gap: 10px;
}

.first {
    display: flex;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
    color: white;
    align-items: center;
    padding: 0px 10px;
}

.first>div {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.secImg img {
    width: 35vw;
}

.heading,
.sub-heading {
    font-weight: 900;
    font-size: 48px;
    color: white;
}

.sub-heading {
    font-weight: 400;
    font-size: 24px;
}

.second {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 75vw;
    margin: auto;
    padding: 0px 10px;
}

.second img {
    height: 450px;
}

.second> :nth-child(2) {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.macImg img {
    height: 600px;
}

.faq {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 40px;
}

.que {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin: 0px 20px;
}

.que div {
    display: flex;
    background-color: rgb(45, 45, 45);
    width: 75vw;
    height: 9vh;
    justify-content: space-between;
    align-items: center;
    margin: 0px 20px;
}

.que div:hover{
    filter: brightness(150%);
    transition: 0.35s ease-in-out;
}

.que div div {
    width: fit-content;
    background-color: rgba(255, 255, 255, 0);
}

.email-text {
    margin-top: 40px;
}

footer, a{
    color: #d0cece;
    font-weight: 400;
    font-size: 16px;
}

.flink{
    display: flex;
    justify-items: start;
    justify-content: start;
    column-gap: 150px;
}

.footer{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 70px 170px;
}

li{
    list-style: none;
    text-decoration: underline;
    cursor: pointer;
}

ul{
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
}